.topBar{
    display: flex;
    flex-direction: row;
    background-color:#1877f2;
    height: 50px;
    width: 100%;
    position: sticky;
    align-items: center;
    top: 0;
    margin-bottom: 10px;
    border-radius: 5px;
}
.appName{
    flex: 3;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.welcomeText{
    flex: 3.5;
    font-size: 20;
    color: white;
}
.logOutLink{
   
    align-items: flex-end;
    color: white;
    margin-right: 5px;
}
